/* styles basic */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --color-black: #212121;
  --color-white: #FFF;
  --color-yellow: #d0b824;
  --color-yellow-ligth: #d3c252;
  /*   --color-yellow:  #ff7500;
  --color-yellow-ligth:  #f8bd8a; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-white);
  /*  background: rgb(38,38,41);
  background: linear-gradient(90deg, rgba(38,38,41,1) 0%, rgba(78,78,79,1) 14%, rgba(25,34,36,1) 53%, rgba(33,33,33,1) 76%);
 */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

/*   Start header */
.header {
  color: var(--color-white);
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding-top: 20px;
}
 
.header nav a {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  margin: .5rem;
  /*   margin-top: 1rem; */
  color: var(--color-black);
  background-color: var(--color-white);
  padding: .6rem .7rem;
  border: 1px solid #000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header nav a:hover {
  -webkit-animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/*  End header */

/*      Start sections */


/*   Start Home */
.article section {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

.article .home {
  width: 100%;
  margin-top: 50px;
  border-bottom: var(--color-yellow) 20px solid;
  text-align: center;
}

/* .article section img {
  width: 300px;
  height: auto;
} */

.article .home .description-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
}

.image-container .image {
  width: 100%;
  border-radius: 50%;
  border: var(--color-yellow) 5px solid;
}

.image-container .image:hover {
  -webkit-animation: wobble-hor-bottom 2s both;
	        animation: wobble-hor-bottom 2s both;
}

.image-container .description-profile {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: rgba(12, 12, 12, 0.7);
}

.home .image-container .description-profile h1 {
  margin-bottom: 20px;
  border-bottom: var(--color-yellow) solid 3px;
}

.home .image-container .description-profile h2 {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: var(--color-yellow) solid 1px;
}

/* End HOme */

/* Start portafolio */

.portafolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-bottom: var(--color-yellow) 20px solid;

}

.portafolio .projects {
  width: 80%;
  height: 80%;
  margin-top: 50px;
  /*   border-bottom: #d0b824 3px solid; */
}

.cards {
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.cards div {
  align-items: center;
  justify-content: center;
  background-color: rgba(208, 184, 36, 0.9);

}

.cards h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: rgba(208, 184, 36, 0.9);
}

.cards button {
  margin-top: 10px;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  margin: 0;

  background-color: var(--color-yellow);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-animation: vibrate-1 0.7s linear infinite both;
	        animation: vibrate-1 0.7s linear infinite both;
}

.cards button:hover {
  background-color: var(--color-yellow-ligth);
}

.portafolio .projects .cards .small {
  width: 90%;

}

.portafolio .projects .cards .large {
  display: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50em;
  background-color: var(--color-yellow);
  /* color de fondo */
  width: 50px;
  /* ancho */
  height: 50px;
  /* alto */
  border-radius: 50%;
  /* forma circular */
  display: none;
  font-size: 50px;
  /* tamaño de la flecha */
  color: var(--color-white);
  /* color del icono */
}

/* End portafolio */

/* Start Skills */
article .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*   margin-top: 50px; */
  border-bottom: var(--color-yellow) 20px solid;
}

.skills h3 {
  border-bottom: var(--color-yellow) 3px solid;
}

article .skills .container-skills {
  width: 80%;
}

.skills .label {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-yellow);
  margin-bottom: 10px;
}

.skills .progress {
  background: var(--color-yellow-ligth);
  border-radius: 0;
  height: 25px;
}

.skills .progress .progress-bar {
  background: var(--color-yellow);
  line-height: 25px;
  padding-left: 20px;
}

/* End Skills */

/* Start contacto */

/* .contacto {
  border-bottom: #d0b824 10px solid;
} */

/* Contacto */
.contacto {
  border-bottom: var(--color-yellow) 20px solid;
}

.contacto1 {
  border-top: 1px solid var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
  color: var(--color-black);
}

.contacto1 .titulo {
  color: var(--color-yellow);
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.contacto1 .formulario input[type="text"],
.contacto1 .formulario input[type="email"],
.contacto1 .formulario textarea {
  padding: 15px;
  border: none;
}

.contacto1 .formulario textarea {
  height: 150px;
  min-height: 150px;
  max-height: 250px;
}

.contacto1 .formulario .boton {
  background: var(--color-yellow);
  border: none;
  padding: 7px 30px;
  color: var(--color-black);
  cursor: pointer;
  width: auto;
  border-radius: 3px;
  z-index: 100;
}

.contacto1 .formulario .boton:hover {
  background: var(--color-yellow-ligth) !important;
}

/* End Contacto */

/* Star Portafolio-2 */
.portafolio-2-s {
  border-bottom: var(--color-yellow) 10px solid;

}

.portafolio-2 {}

.portafolio-2 .titulo {
  color: var(--color-yellow);
}

.portafolio-2 .galeria .contenedor-imagen {
  max-height: 180px;
  overflow: hidden;
}

.portafolio-2 .galeria .contenedor-imagen a {
  background: var(--color-yellow);
  display: inline-block;
}

.portafolio-2 .galeria .contenedor-imagen a:hover img {
  opacity: 80%;
}



/* End Portafolio-2 */


/* End sections */

/* Start footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 80%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}

.footer a {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  margin: .5rem;
  color: var(--color-black);
  background-color: var(--color-white);
  padding: .5rem .73rem;
  border-radius: 25%;
}

footer a:hover {
  -webkit-animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/*  End footer */

/*     Start MediaQueries */

@media screen and (min-width: 600px) {
  /* Aquí van los estilos para resoluciones de pantalla mayores o iguales a 768px */

  /*  HEader */
  .header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-92%, -50%);
    height: 100%;
    z-index: 99;
  }


  .header nav a {
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin: .5rem;
    color: var(--color-black);
    background-color: var(--color-white);
    padding: .5rem .73rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  /*  Home */
  .home {
    display: flex;
    justify-content: center;
  }

  .home .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .home .image-container .image {
    width: 30%;
    margin-right: 20px;
  }

  .home .image-container .description-profile {
    width: 50%;
  }

  .image-container .description-profile {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    padding: 0;
    background-color: transparent;
  }

  .home .image-container .description-profile h1 {
    margin-bottom: 30px;
    border-bottom: var(--color-yellow) solid 3px;
    text-align: center;
  }

  .home .image-container .description-profile h2 {
    margin-bottom: 30px;
    border-bottom: var(--color-yellow) solid 1px;
    text-align: center;
  }

  .home .image-container .description-profile p {
    margin-bottom: 30px;
    border-bottom: var(--color-yellow) solid 1px;
    text-align: center;
  }

  /*  End home */

  /* Start Portafolio */

  .portafolio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .portafolio .projects {
    width: 80%;
  }

  .cards {
    width: 100%;
  }
  .cards button {
    margin-top: 10px;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }


  .portafolio .projects .cards .small {
    display: none;
  }

  .portafolio .projects .cards .large {
    display: flex;
  }

  /* .owl-theme .owl-nav [class*="owl-"], .owl-theme .owl-dots .owl-dot span {
  background-color: var(--color-yellow);
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  display: inline-block; 
} */

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50em;
    background-color: var(--color-yellow);
    /* color de fondo */
    width: 50px;
    /* ancho */
    height: 50px;
    /* alto */
    border-radius: 50%;
    /* forma circular */
    display: none;
    font-size: 50px;
    /* tamaño de la flecha */
    color: var(--color-white);
    /* color del icono */
  }

  .owl-prev {
    left: 10px;
  }

  .owl-next {
    right: 10px;
  }

  /* End portafolio */

  /* Start Skills */
  article .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  article .skills .container-skills {
    width: 80%;
  }

  .skills .label {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-yellow);
    margin-bottom: 10px;
  }

  .skills .progress {
    background: var(--color-yellow-ligth);
    border-radius: 0;
    height: 25px;
  }

  .skills .progress .progress-bar {
    background: var(--color-yellow);
    line-height: 25px;
    padding-left: 20px;
  }

  /*   End skills */

  /*  Start portafolio-2 */



  /*  Start portafolio-2 */

}

@media screen and (min-width: 992px) {

  /*   Start portafolio-2 */

  .portafolio-2 .galeria .contenedor-imagen:nth-child(1) {
    order: 3;
  }

  .portafolio-2 .galeria .contenedor-imagen:nth-child(2) {
    order: 2;
  }

  .portafolio-2 .galeria .contenedor-imagen:nth-child(3) {
    order: 1;
  }

  .portafolio-2 .galeria .contenedor-imagen:nth-child(4) {
    order: 7;
  }

  .portafolio-2 .galeria .contenedor-imagen:nth-child(5) {
    order: 5;
  }

  .portafolio-2 .galeria .contenedor-imagen:nth-child(6) {
    order: 6;
  }

  .portafolio-2 .galeria .contenedor-imagen:nth-child(7) {
    order: 4;
  }


  /*   End portafolio-2 */
}

/* Animaciones */

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}



@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
