@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* background-color: rgb(82, 80, 80); */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-image: url(https://img.freepik.com/free-photo/3d-dark-grunge-display-background-with-smoky-atmosphere_1048-16218.jpg?t=st=1719508728~exp=1719512328~hmac=1b6b4ecafc6dedaa509083ed678c11c6285344f994e0d5b445a891a99072e28d&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff !important;
} 

p, h1, a, li {
    color: #ffff !important;
}

.header a {
    border-bottom: 1px solid #000;
}
.header a:hover {
    border-bottom: 3px solid #8f8f06;
}

.header {
    background-color:  #000 !important ;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}




main .i{
    padding: .5rem;
    background-color: #8f8f06 !important;
}

.main .profile {
    background-color: #000;
}

.about {
    background-color: #d1d1d1;
}

.about h2, h6, p {
    color: #000 !important;
}

.about h2 {
    border-bottom: 5px solid #8f8f06;
}

.about .image-about {
    background-color: #000;
}

.about .image-about img {
    padding: 2rem;
    border: 1px solid #8f8f06;
}

.works {
    background-color: aliceblue !important;
    color: #000 !important;
}

.works h3 {
    padding: .5rem;
    border-bottom: 3px solid #8f8f06;
}

.works img:hover {
    
    -webkit-animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.title-blog {
    border-bottom: 1px solid #8f8f06;
}

.submit {
    background-color: #8f8f06 !important;
}

.border-botton {
    border-bottom: 3px solid #8f8f06;
}

footer p {

    color: #d1d1d1 !important;
    background-color: #000;
}

.container-social {
    
    color: #fff;
    
  }

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-5%, 0);
    width: 100%;
    padding-top: 20px;
}
  
.social a {
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin: .5rem;
    /*   margin-top: 1rem; */
    color: #000!important;
    background-color: #fff;
    padding: .6rem .7rem;
    border: 1px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
  
.social a:hover {
    -webkit-animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }
  
    100% {
      -webkit-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
    }
  }
  
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }
  
    100% {
      -webkit-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
    }
  }