@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* background-color: rgb(82, 80, 80); */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-image: url(https://img.freepik.com/free-photo/3d-dark-grunge-display-background-with-smoky-atmosphere_1048-16218.jpg?t=st=1719508728~exp=1719512328~hmac=1b6b4ecafc6dedaa509083ed678c11c6285344f994e0d5b445a891a99072e28d&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff !important;
} 

p, h1, a, li {
    color: #ffff !important;
}

a:hover {
    border-bottom: 1px solid #8f8f06;
}

.header {
    background-color:  #000 !important ;

}




main .i{
    padding: .5rem;
    background-color: #8f8f06 !important;
}



.about {
    background-color: #aba5a5;
}

.about h2, h6, p {
    color: #000 !important;
}

.about h2 {
    border-bottom: 5px solid #8f8f06;
}

.about .image-about {
    background-color: #000;
}

.about .image-about img {
    padding: 2rem;
    border: 1px solid #8f8f06;
}